body{
    margin: 0 auto;
}

//変数定義
//色もの
$font-color_default:#000000;
$font-color_span:#c73b2e;

//font-family
$font-family_corp:'Amatic SC',cursive;
//font-size
$font-size_default:16px;
//responsive
$breakpoints:(
    'sm': 'screen and (max-width:414px)',
    'md':'screen and (max-width:768px)',
    'lg':'screen and (max-width:1000px)',
    'xl':'screen and (max-width:1200px)', 
) !default;

@mixin mq($breakpoint: sm ){
    @media #{map-get($breakpoints,$breakpoint)}{
        @content;
    }
}


//---------
//base
//---------
html,body{
    width: 100%;
    color: $font-color_default;
    font-size: $font-size_default;
    line-height: 1.6;
    font-family: Quicksand,游ゴシック体,"Yu Gothic1",Yuothic,"ヒラギノ角Gothic Pro","Hiragino kaku Gothic Pro",メイリオ,Meiryo,Osaka,"MS Pゴシック","MS PGothic",sans-serif;
    //リファクタの必要がある。
    list-style: none;
}
.fa-arrow-up{
    color: #c73b2e;
    font-size: 80px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 3  ;
    transition: all 2s;
    @include mq(md){
        color: skyblue;
        font-size: 65px;
        right: 80px;
        transition: all 2s;
    }
    @include mq(){
        color: lime;
        font-size: 50px;
        right: 30px;
        bottom: 50px;
    }
}
header{
    width: 100%;
    height: 200px;
    @include mq(md){
        height: 150px;
    }
    .container{

        .header-top{
            h1{
                text-align: center;
                font-size: 80px;
                margin: 10px 10px;
                font-family: 'Itim', cursive;
                .font-color{
                    color: #c73b2e;
                }
                @include mq(md){
                    font-size: 60px;
                }
                @include mq(){
                    text-align: left;
                }
            }
        }
        .header-bottom{
            width: 900px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            transition: all .7s;
            @include mq(md){
                width: 100%;
            }
            .menu{
                
                &-item{
                    float: left;
                    margin-right: 40px;
                    font-size: 17px;
                    list-style: none;
                    @include mq(md){
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
                &-link{
                    font-weight: bold;
                    text-decoration: none;
                    color: #000000;
                }

            }
        }
        .float-active{
            
            position: fixed;
            top: 50px;
            left: 380px;
            z-index: 3;
            color:#c73b2e ;
           
            @include mq(md){
                top: 0;
                left: 100%;
            }
            
        }
    }
    //for iPad 
     @include mq(md){
         .js-toggle-sp-menu-target{
                display: block;
                position: fixed;
                top: 0;
                right: -100%;
                background: rgba(255, 255, 255, 0.85);
                width: 100%;
                height: 100vh;
                padding-top: 50px;
                transition:all .3s;
                &.active{
                    display: block;
                    transition:all .3s;
                    transform: translateX(-100%);
                    z-index: 2;
                }
                .menu{
                    
                    @include mq(md){
                        
                        display:block;
                        font-size:50px;
                        &-item{
                            margin-right: initial;
                            float: none !important;
                            margin-left: 1px !important;
                        }
                        &-link{
                            -webkit-font-smoothing:initial;
                            display: block;
                            padding: 20px;
                            text-align: center;
                            margin: 0 auto;
                            
                        }
                    }
                }
            
        }
      }
}
 .menu-trigger{
            //smart phone & tablet用
            display:  none;
            @include mq(md){
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
            position: fixed;
            width: 40px;
            height: 32px;
            z-index: 3;
            right: 50px;
            top: 50px;
            @include mq(){
                right: 30px;
            }
            span{
                display: inline-block;
                transition: all .4s;
                box-sizing: border-box;
                position: absolute;
                left: 0;
                width: 100%;
                height: 4px;
                background-color:$font-color_span;
                border-radius: 4px;
                &:nth-of-type(1){
                    top: 0;
                }
                &:nth-of-type(2){
                    top: 14px;
                }
                &:nth-of-type(3){
                    bottom: 0;
                }
            }
            &.active span{
                &:nth-of-type(1){
                    transform: translateY(12px) rotate(-45deg);
                }
                &:nth-of-type(2){
                    opacity: 0;
                }
                &:nth-of-type(3){
                    transform: translateY(-15px) rotate(45deg);
                }
            }
        }
    }
//main
main{

   #bg-color{
        .bg-config{
            background-image: url(../imgs/sample-image9.jpg);
            width: 1024px;
            height: 570px;
            margin: 0 auto;
            @include mq(md){
                width: 100%;
                height: 300px;
            }
        }


   } 

   #about-okan{
       .container-one{
           width: 1100px;
           margin: 80px auto 50px;
            @include mq(md){
                width: 90%;
            }
           .heading{
                text-align :center;
                position: relative;
               h2{
                 font-size: 3.5rem;
                 color: #c73b2e ;
                 span{
                     font-size: 5.6rem;
                     @include mq(){
                         font-size: 4rem;
                     }
                 }
               }

               p{
                   font-size: 1.6rem;
                   border-bottom: solid 3px  #c73b2e;
                   padding-bottom: 10px;
                   &::after{
                    content: '';
                    border-bottom: 3px solid black;
                    width: 50%;
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom:0;


                    }     
               }
               
           }
           .contents{
                 margin-top: 20px;
                .contents-theme{
                    text-align: center;
                    h2{
                        font-size: 3.5rem;
                        color: #c73b2e ;
                    }
                    p{
                        font-size: 5.6rem;
                        @include mq(){
                        font-size: 4rem;
                        text-align: left;
                        .br-nine{
                            display: block;
                        }
                        .br-ten{
                            display: block;
                        }
                    }
                        
                    .br-ten{
                        display: none;
                    }
                    }
                    
                }
                .contents-text{
                    text-align: center;
                    line-height: 2.5;
                    letter-spacing: 0.5rem;
                    @include mq(md){
                        text-align: left;
                        line-height: 1.8;
                    }
                    p{
                        font-size: 1.7rem;
                        span{
                            color: #c73b2e ;
                        }
                        .br-one{
                            @include mq(md){
                                display: none;
                            }
                        }
                        .br-three{
                            @include mq(md){
                                display: none;
                            }
                        }
                    }
                }
           }
       }
   }

   #think{
       background-image: url(../imgs/bg-color2.png);
       border-top: solid 3px lightgray;
       margin: 50px auto 0;
       .container-two{
            
           &-heading{
                height: 150px;
                text-align: center;
                border-bottom: solid 5px black ;
                width: 1100px;
                margin: 30px auto;
                font-weight: bold;
                @include mq(md){
                width: 90%;
                }
            h2{
                span br{
                    display: none;
                }
                font-size: 2.5rem;
                @include mq(){
                    span{

                       br{
                           display: block;
                       }
                    }
                }
            }
            p{
                font-size: 1rem;
            }  
        }
          &-contents{
              margin-top: 40px;
              text-align: center;
             
            &-theme{
                p{
                    font-size: 2.5rem;
                    @include mq(){
                    font-size: 1.2rem;
                     
                     br{
                         display: none;
                         
                     }
                    }   
                }
                h2{
                    font-size: 3.6rem;
                    line-height: 1.2;
                    span{
                        font-size: 5.6rem;
                        color :#c73b2e ;
                        border-bottom: solid 3px #c73b2e  ;
                        @include mq(){
                            font-size: 4rem;
                        }
                    }
                }
            }
            &-text{
                width: 1100px;
                margin: 0 auto;
                @include mq(md){
                width: 90%;
            }
                p{
                    font-size: 1.2rem;
                    letter-spacing: 0.5rem;
                    line-height: 2.5;
                    span{
                        color :#c73b2e ;
                    }
                }
            }
        }
        &-contents-two{
            text-align: center;
            width: 1100px;
            margin: 0 auto;
            @include mq(md){
                width: 90%;
            }
            &-theme{
                h2{
                    background-color: #c73b2e ;
                    color: #ffffff;
                    font-size: 2rem;
                    @include mq(){
                        margin-top: 20px;
                        font-size: 1.6rem;
                    }
                    br{
                        display: none;
                        @include mq(md){
                            display: block;
                        } 
                    }
                }
            }
            &-text{
                margin-top: 30px;
                p{
                    letter-spacing: 0.5rem;
                    line-height: 1.5;
                    @include mq(){
                        letter-spacing: .3rem;
                    }
                }
            }

        }
       
      }
   }

   #service{
        border-top: solid 3px lightgray;
         margin: 50px auto 0;
       .container-three{
            width: 1100px;
            margin: 50px auto 0;
           @include mq(md){
                width: 90%;
            }
        .heading{
            font-weight: bold;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px ;
            h2{
               font-size: 2.5rem; 
              
            }
            p{
                font-size: 1rem;
            }
         }
         .contents-three{
             
            &-theme{
                text-align: center;
                font-weight: bold;
                padding: 30px 0;
                border-top: solid 3px gray;
                border-bottom: solid 3px gray;
             h2{
                 font-size: 2rem; 
                  &::before{
                    content: '';  
                   border-top: solid 3px #c73b2e;
                   width: 50%;
                   display: block;
                   margin-top: -33px;
                   padding-top: 33px;
               }
             }
            }
            &-box{
                margin-top: 40px;
               
            
                &-desc{
                    height: 350px;
                    border-bottom: solid 3px gray;
                    display: flex;
                    @include mq(md){
                        display: flex;
                        flex-direction: column;
                        height: 500px;
                        align-items: center;
                        margin-bottom: 30px;
                    }
                    @include mq(){
                        height: 450px;
                    }
                    &-img{
                      width: 50%;
                      @include mq(md){
                          width: 80%;  
                      }
                      img{
                      width: 100%;
                      @include mq(md){
                          width: 100%;
                          }
                       @include mq(){
                           border-radius: 50%;
                       }   
                      }
                    }
                    &-text{
                       margin-left: 50px;  
                       width: 40%;
                       @include mq(md){
                          width: 70%;
                          margin-top: 20px;
                          
                       }
                    }
                }
                &-desc-two{
                    height: 350px;
                    margin: 40px auto 0;
                    display: flex;
                    flex-direction: row-reverse;
                    @include mq(md){
                        display: flex;
                        flex-direction: column;
                        height: 500px;
                        align-items: center;
                        margin-bottom: 30px;
                      }
                      @include mq(){
                          height: 400px;
                      }
                    &-img{
                    width: 50%;
                    @include mq(md){
                          width: 80%;
                          
                      }
                        img{
                            width: 100%;
                            @include mq(md){
                                width: 100%;
                            }
                            @include mq(){
                           border-radius: 50%;
                       }   
                        }
                    }
                    &-text{
                        width: 40%;
                        margin-right: 50px;
                         @include mq(md){
                           width: 70%;
                           margin-top: 20px;
                           margin-right:0 ;
                           margin-left: 50px;
                       }
                    }
                }

            }
            
         }
       }
   }
   #news{
        margin: 50px 0;
        border-top: solid 3px lightgray;
        background-image: url(../imgs/bg-color2.png);
        .container-four{
            width:1100px ;
            margin: 0 auto;
            @include mq(md){
                width: 90%;
            }
            .heading{
            font-weight: bold;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px ;
            border-bottom: solid 3px #c73b2e ;
            position: relative;
            h2{
               font-size: 2.5rem; 
            }
            p{
                font-size: 1rem;
                 &::after{
                    content: '';
                    border-bottom: 3px solid black;
                    width: 50%;
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom:-3px;
                }
            }
           
            
         }
         .container-four-contents-four{
               
            span{
                background-color: rgba(255,50,255,.5);
                position: absolute;
                width: 150px;
                text-align: center;
                border-radius: 5px;
                @include mq(){
                     width: 80px;
                     font-size: .7rem;
                    
                }  
            }
           
            &-notice{
                height: 200px;
                width: 1000px;
                border: solid 1px gray;
                margin: 40px auto 40px;
                background-color: #ffffff;
                @include mq(md){
                height: 150px;
                width: 600px;
                } 
                @include mq(){
                height: 150px;
                width: 300px;
                border: none;
                }   

                &-image{
                    float: left;
                    width: 200px;
                    img{
                        width: 107%;
                        @include mq(md){
                            width: 88%;
                           
                        }
                         @include mq(){
                            border-radius: 10px;
                            width: 100px;
                        }

                    }
                }
                &-text{
                    float: left;
                    margin-left: 40px;
                     @include mq(md){
                           margin-left: 0px;
                        }
                      @include mq(){
                            position: relative;
                        }   
                    .date{
                        padding-top: 20px;
                        padding-bottom: 15px;
                        @include mq(){
                            position: absolute;
                            left: 150px;
                            top: -100px;
                        } 
                    }
                    p{
                        font-size: .8rem;
                        .br-four,.br-four{
                            display: none;
                            @include mq(md){
                                display: block;
                            }
                        }
                        .br-six,.br-seven{
                            @include mq(){
                                display: none;
                            }
                            
                        }
                    }
                }
            }
         }
      }
   }
   #recruit{
        padding-bottom: 80px;
        border-bottom: solid 3px gray;
        .container-five{
            width:1100px ;
            margin: 0 auto;
            @include mq(md){
                width: 90%;
            }
            &-heading{
                font-weight: bold;
                text-align: center;
                margin-top: 50px;
                margin-bottom: 50px ;
                border-bottom: solid 3px #c73b2e ;
                position: relative;
                h2{
                    font-size: 2.5rem; 
                }
                P{
                    font-size: 1rem; 
                    &::after{
                        content: '';
                        border-bottom: 3px solid black;
                        width: 50%;
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom:-3px;
                    }
                }
              }
            }
            .container-five-images{
                width:1100px ;
                margin: 0 auto;
                 @include mq(md){
                 width: 100%;
                }
                &-text{
                     p{
                        text-align: center;
                        font-size: 2rem;
                        padding-bottom: 30px;
                        }
                }
                &-box{
                    position: relative;
                        margin: 0 auto;
                        img{
                            margin: 0 auto;
                            width: 1100px;
                            @include mq(md){
                                width: 100%;
                            }
                            
                        }
                        p{
                            color: #ffffff;
                            position: absolute;
                            left: 400px;
                            bottom: 150px;
                            font-size: 2.6rem;
                            @include mq(md){
                                left: 250px;
                                bottom: 120px;
                                font-size: 2rem;
                            }

                        }
                }
            }
        
   }
   #contact-us{
       background-image: url(../imgs/bg-color2.png);
       padding-bottom: 50px;
       .container-six{
        width: 1100px;
        margin: 0 auto;
        @include mq(md){
                width: 90%;
            }
        .heading{
            font-weight: bold;
                text-align: center;
                margin-top: 50px;
                margin-bottom: 50px ;
                border-bottom: solid 3px #c73b2e ;
                position: relative;
            h2{
                font-size: 2.5rem; 
            }
            p{
                    font-size: 1rem; 
                    &::after{
                        content: '';
                        border-bottom: 3px solid black;
                        width: 50%;
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom:-3px;

                    }
            }
        }
        .contents-desc{
            text-align: center;
            input{
                display: block;
                margin: 10px auto 20px;
                padding: 10px 0 10px;
                width: 650px;
                border-radius: 5px;
                border: solid 1px gray ;
                @include mq(md){
                    width: 90%;
                }
                @include mq(){
                    width: 350px;
                }
            }
            select{
                display: block;
                margin: 10px auto 20px;
                padding: 10px 0 10px;
                border-radius: 5px;
                width: 650px;
                border: solid 1px gray ;
                color: gray;
                 @include mq(md){
                    width: 90%;
                }
                @include mq(){
                    width: 350px;
                }
            }
            textarea{
                display: block;
                margin: 0 auto;
                border-radius: 5px;
                width: 650px;
                height: 200px;
                color: gray;
                 @include mq(md){
                    width: 90%;
                }
                @include mq(){
                    width: 350px;
                }
            }
            input[type=submit]{
                background-color: #c73b2e  ;
                border-radius: 5px;
                color: #ffffff;
                width: 400px;
                 @include mq(md){
                    width: 400px;
                }
                @include mq(){
                    width: 200px;
                }
            }
        }
       }
   }
   #company-profile{
       border-top: solid 3px gray;
       margin-bottom: 20px;
       .container-seven{
        width: 1100px;
        margin: 0 auto;
        @include mq(md){
                width: 90%;
            }
        .heading{
            font-weight: bold;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 50px ;
                border-bottom: solid 3px #c73b2e ;
                position: relative;
            h2{
                font-size: 2.5rem; 
            }
            p{
                    font-size: 1rem; 
                    &::after{
                        content: '';
                        border-bottom: 3px solid black;
                        width: 50%;
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom:-3px;

                    }
            }
        }

        &-contents-seven{
            .flex-box{
                display: flex;
                line-height: 3;
                @include mq(){
                    line-height: 1.5;
                }
                dt{
                    min-width: 159px;
                    border-left: 4px solid $font-color_span;
                    border-right: 4px solid $font-color_span;
                    text-align: center;
                    margin-left: 40px;
                    letter-spacing: .4rem;
                    @include mq(){
                        min-width: 80px;
                        margin-left:20px ;
                        font-size: .8rem;
                    }
                }
                dd{
                    margin-left: 40px;
                    @include mq(){
                        margin-left: 20px;
                        font-size: .8rem;
                    }
                    br{
                        display: none;
                    }
                }
            }

        }
       }
   }

}
footer{
    height: 80px;
    background-color:  #c73b2e ;
    color: #ffffff;
    text-align: center;
    line-height: 1.8 ;
    position: absolute;
    
    width: 100%;
    p{
        padding-top: 20px;
    }
}
